
@{
    ViewBag.Title = "DeleteConfirmed_SP";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Xóa thành công</h2>

@Html.ActionLink("Quay lại danh sách quản lý Sản phẩm", "QL_SanPham", "Admin")