
@{
    ViewBag.Title = "SuaDDHThanhCong";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Sửa thành công</h2>


@Html.ActionLink("Quay lại danh sách quản lý đơn đặt hàng", "QL_DonDatHang", "Admin")