
@{
    ViewBag.Title = "SuaTKThanhCong";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Sửa tài khoản thành công</h2>

@Html.ActionLink("Quay lại danh sách tài khoản", "QL_TaiKhoan", "Admin")