
@{
    ViewBag.Title = "ThemSPThanhCong";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Thêm sản phẩm thành công</h2>

@Html.ActionLink("Quay lại danh sách sản phẩm", "QL_SanPham","Admin")