
@{
    ViewBag.Title = "GioHangTrong";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3>Giỏ hàng của bạn đang trống</h3>

<a href="/FlowerStore"> <button type="button" class="btn btn-success">Về Trang Chủ</button> </a>
