
<a href="@Url.Action("GioMuaHang","GioMuaHang")" style="font-weight: bold; text-decoration: none; display: inline-block; position: relative;">
    <span style="margin-left: 25px;">Giỏ hàng (@ViewBag.tongsl)</span>
</a>
