
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng đã được đặt và chúng tôi sẽ liên hệ sớm cho bạn</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "FlowerStore")
</p>